body {background-color:#00ff21; color:#f00;}

h2 {font-family:Chiller;font-style:initial;font-size:50px;font-weight:bold;}

p {font-family:Chiller;font-size:x-large;font-weight:bold}

hr {border-color:#f00;border-style:dashed;}

.fontstyle {font-family:Chiller;font-weight:bold;font-size:larger;}
